body{
    background-color: rgb(255, 255, 255);
}
#countdown{
    text-align: center;
    margin-top: 20%;
    font-size: 150%;
    font-weight: 150;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}